<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:replace="~{includes/commonScripts::head}"></th:block>
</head>
<body>
<h1>Login</h1>
<form method="post" th:action="@{/login-process}">
    <div class="form-group">
        <label for="Email1">Email address</label>
        <input type="text" name="email" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="E-mail">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Zaloguj</button>
</form>
<th:block th:replace="~{includes/commonScripts::script}"></th:block>
</body>
</html>